<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Contact Info</h1>
    <p>
        Cell: (123)456-7890
    </p>
    <p>
        Email: terence@business.com
    </p>
</main>
<footer>
    <div>Copyright 2023 by me!</div>
    <div>Thank You for Visiting!</div>
</footer>
